/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
}

/* BODY */
body {
    font-family: 'Segoe UI', Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

}
body::before{
content:"";
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background-image:url("../fotos/bison-wild-sunny-day.jpg");
background-repeat: no-repeat;
background-size:cover;
background-position:center;
background-attachment: fixed;
filter:blur(2px);
z-index:-1;
}

/* CONTAINER */
main {
    display: flex;
    align-items: center;
    flex-direction: column;

    background: rgba(255, 255, 255, 0.76);
    padding: 30px;
    border-radius: 12px;
    margin-top: 8%;
    margin-bottom: 4%;
    width: 400px;
    max-width: 90%;
}

/* LOGO (corrigido) */
.logo {
    width: 100%;
    max-width: 380px;
    margin-bottom: 10px;
}

/* TITULO */
h1 {
    color:#002902;
    margin-bottom: 10px;
}

/* TEXTO */
p {
    color: #000000;
    font-weight: 600;
    margin-bottom: 15px;
}

/* AREA INPUT (corrigido) */
#area-input{
    width: 100%;
}

/* CAMPOS */
input,
textarea,
select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    outline: none;
    transition: 0.2s;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #2e7d32;
    box-shadow: 0 0 5px rgba(46,125,50,0.3);
}

/* BOTÕES */
.bt {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #2e7d32;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 5px;
}

.bt:hover {
    background: #1b5e20;
}

/* BOTÃO VOLTAR */
.btn-voltar {

position:absolute;

top:100px;
left:20px;

padding:10px 16px;

font-size:14px;
font-weight:500;

background:linear-gradient(135deg,#119258,#1f6b3b);

color:white;

border:none;

border-radius:25px;

cursor:pointer;

box-shadow:0 4px 10px rgba(0,0,0,0.25);

transition:0.25s;

}

/* HOVER */

.btn-voltar:hover{

background:linear-gradient(135deg,#1f6b3b,#2faa6d);

transform:translateY(-2px);

box-shadow:0 6px 15px rgba(0,0,0,0.35);

}

/* CLICK */

.btn-voltar:active{

transform:scale(0.95);

}
.title1{
    margin: 0;
}