/* RESET */
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

/* FUNDO */
body{

font-family:'Segoe UI', Arial, sans-serif;

min-height:100vh;

display:flex;
flex-direction:column;
align-items:center;
justify-content:center;

padding:20px;
overflow-x:hidden;

line-height:1.5;
}
body::before{
content:"";
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background-image:url("../fotos/herd-black-white-cows-grassland.jpg");
background-repeat: no-repeat;
background-size:cover;
background-position:center;
background-attachment: fixed;
filter:blur(2px);
z-index:-1;
}
select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    outline: none;
    transition: 0.2s;
}
/* BOTÃO VOLTAR */
.btn-voltar {

position:absolute;

top:100px;
left:20px;
z-index: 13;
padding:10px 16px;

font-size:14px;
font-weight:500;

background:linear-gradient(135deg,#119258,#1f6b3b);

color:white;

border:none;

border-radius:25px;

cursor:pointer;

box-shadow:0 4px 10px rgba(0,0,0,0.25);

transition:0.25s;

}

/* HOVER */

.btn-voltar:hover{

background:linear-gradient(135deg,#1f6b3b,#2faa6d);

transform:translateY(-2px);

box-shadow:0 6px 15px rgba(0,0,0,0.35);

}

/* CLICK */

.btn-voltar:active{

transform:scale(0.95);

}

/* CARD */
main{

background:rgba(255, 255, 255, 0.699);

padding:25px;

border-radius:12px;

width:100%;
max-width:450px;

box-shadow:0 10px 25px rgba(0,0,0,0.2);

display:flex;
flex-direction:column;

backdrop-filter:blur(6px);
margin-top: 7%;
}

/* LOGO */


/* TÍTULO */
h1{


margin-bottom:5px;

font-size:1.8rem;
text-align:center;
}

p{

color:#000000;

font-weight:700;

margin-bottom:20px;

text-align:center;

font-size:1rem;
}

/* INPUTS */
input{

width:100%;

padding:10px;

margin-bottom:12px;

border-radius:8px;
border:1px solid #ccc;

outline:none;

font-size:1rem;

transition:0.2s;
}

input:focus{

border-color:#2e7d32;

box-shadow:0 0 5px rgba(46,125,50,0.4);
}

/* BOTÕES */
main button{

padding:12px;
width: 100%;
border:none;
border-radius:8px;
margin-top: 3%;

background:#2e7d32;
color:white;

font-size:1rem;

cursor:pointer;

transition:0.3s;

display:flex;
justify-content:center;
align-items:center;

gap:8px;
}

main button:hover{

background:#1b5e20;

transform:scale(1.02);
}

/* GRUPO DE BOTÕES */
.bt{

margin-top:5px;

display:flex;

flex-direction:column;

gap:10px;
}

/* CONTAINER PRINCIPAL */
.princ{

display:flex;

flex-direction:column;

align-items:center;

text-align:center;
}

/* -------- RESPONSIVIDADE -------- */

/* TABLET */
@media (max-width:768px){

main{

padding:20px;

}

h1{

font-size:1.6rem;

}

}

/* CELULAR */
@media (max-width:480px){

main{

padding:18px;

}

h1{

font-size:1.4rem;

}

p{

font-size:0.9rem;

}

input{

font-size:0.95rem;

}

main button{

font-size:0.95rem;

}

}